.sip-listing {
  padding: 0;
  margin-left: auto !important;
  font-size: 80%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  li {
    flex: 0 0 25%;
    @include mobile {
      display: flex;
      gap: $gap/2;
    }
    &.subfolder {
      flex: 0 0 100%;
      background-color: $grey-lighter;
      padding: .25em 1em;
    }
    + li {
      margin-top: 0;
    }
  }
  ol {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 0 0 25%;
    }
  }
  img {
    width: 33.333333%;
    min-width: 75px;
    margin-bottom: $gap/2;
  }
  p {
    margin: 0 $gap/2 $gap/2 0;
  }
}

.content {
  dl {
    display: flex;
    flex-wrap: wrap;
    dt {
      flex: 0 0 100%;
      @include tablet {
        flex: 0 0 33.333333%;
      }
    }
    dd {
      margin: 0;
      padding-left: 0;
      padding-bottom: $gap/2;
      flex: 0 0 100%;
      @include tablet {
        padding-left: calc(2 * var(--global--spacing-horizontal));
        flex: 0 0 66.666666%;
      }
    }
  }
}

.archival-actions {
  display: flex;
  flex-wrap: wrap;
  gap: $gap/2;
}

#submit_sip {
  margin: $block-spacing auto;
  display: block;
}

.bp-controls {
  z-index: 1;
}